.home {
    background-color:#9abca7;
}

#intro {
    margin: auto;
    width: fit-content;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px #fffff0;
    backdrop-filter: blur(30px);
    text-shadow: -1px -1px #fffff0 !important;
    margin-bottom: 5px;
    text-align: center;
}
.welcome {
    font-size: 45px;
    font-weight: 700;
}

.question {
    font-size: 36px;
    font-weight: 800;
}
@media screen and (max-width:768px){
    .welcome{
        display: none;
    }
}
    

/* .list-form{
    display: flex;
    justify-content: center;
    align-items:center; 
    width: 30%;
    margin-left:500px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 10px;
    /* background-color: rgba(255, 255, 255, 0.45); */
    /*box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    background-color: coral; */


.weekly{
    background-color: #9a9ebc;
}

.monthly{
    background-color:#DD8374;
    
}
