.home {
    background-color:#9abca7;
}

/* 
.home:hover {
    color:black;
    background-color: blue;
    transition:all 0.4s ease-out;
} */


.welcome {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 45px;
    font-family: cursive;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.question {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.list-form{
    display: flex;
    justify-content: center;
    align-items:center; 
    width: 30%;
    margin-left:500px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);

}

.weekly{
    background-color: #9a9ebc;
}

.monthly{
    background-color:#DD8374;
    
}
/* 
.title{
    margin-right: 3px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
}  */