
.auth-form-container {
    display: flex;
    min-height: 100vh;
    margin-top: -100px;
    align-self: center;
}

/* .logAvatar{
    /* align-self: center; */
    /*font-weight: bold;
    font-size:85px;
    margin-left: 15px;*/

#formBkgd{
border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

.login-form{
    display: flex;
    box-shadow: 3px 3px 3px 3px rgb(180, 178, 178);
    width: moz-fit-content;
    border-radius: 10px;
    height: 250px;
}


/* Log in button on log in form  */

.logbtn{
    font-weight: 600;
    padding:5px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
}

.logbtn:hover {
    box-shadow:0 0 10px 3px #fffff0;
}

/* this is the log in button on the nav bar, used for nav while building app */
/* .login-btn {
    border: none;
    margin-top: 10px;
    background-color:#cf95f5;
    padding: 10px;
    border-radius: 10px;
    width: moz-fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    
} */

.login-error{
    font-weight: bold;
    border-style: solid;
    border-color: crimson;
    border-width: 2px;
    padding: 5px;
    margin: 10px;
    box-shadow: 1px -1px 6px 1px crimson inset;
    z-index: 1;
}

.inputFields label{ 
    display:flex;
    flex-direction: column;
    align-content: left;
    margin-left: 10px;
}

#eye{
    font-size: larger;
    margin-left: -40px;
    margin-top: -10px;
    z-index: 1;
}

.logo{
    color:#453953;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    width: 250px;
    padding: 5px;
    margin-left: 10px;
    margin-top: 20px;
    box-shadow: -5px -5px 5px 2px #BC9AAF, 5px -5px 5px 2px #9A9EBC, 5px 5px 5px 2px #DD8374, -5px 5px 50px 2px #439663, -5px 5px 5px 2px #439663;
    backdrop-filter: blur(80px);
    border-radius: 25px;
}

@media screen and (max-width: 768px) {
    .logo{font-size: 24px;
    width:200px;}
}
.register{
    color:blue;
    justify-self:center;
    width: fit-content;
    padding: 3px;
    margin-top:15px;
    margin-left: 20px;
    }