
.darkmode-toggle{
  width:fit-content;
  border: 1px solid rgba(255, 255, 255, .25);
  /* border: solid black 4px; */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  padding:5px;
  margin-top: -60px;
  margin-left:10px;
}


.toggle-switch {
    position: relative;
    display:inline-block;
    width: 50px;
    height: 25px;
    /* margin: 0; */
    margin-top: 2px;
  }
  .toggle-switch input[type="checkbox"] {
    display: none;
  }
  .toggle-switch .switch {
    position: absolute;
    cursor: pointer;
    background-color: #78b1ed;
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
  }
  .toggle-switch .switch::before {
    position: absolute;
    content: "";
    left: 2px;
    top: 2px;
    width: 21px;
    height: 21px;
    background-color: #333;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  .toggle-switch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(25px);
    background-color: #333;
  }

  #sun{
    display: inline;
    font-size: 25px;
    margin-right: 5px;
    margin-left: 3px;
    margin-top:-15px;
  }

  #moon{
    display: inline;
    font-size: 21px;
    margin-top:-15px;
  }
  