html {
  scroll-behavior: smooth;
}

/* .header-link {
  width: 1rem;
  transition: all 0.2s ease;
} */

.page-content {
  background-color: cadetblue;
}

.main-content {
  margin-top: 5rem;
}

.message {
  background-color: greenyellow;
}

.no-style {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: transparent;
}

.welcome {
  background-color: burlywood;
}

.auth-form {
  margin-bottom: 20rem;
}

.go-signup {
  display: none;
}

@media only screen and (min-width: 576px) {
  .go-signup {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  .auth-form {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
  }
}



  .auth-form {
    max-width: 42%;
    margin: 0;
  }


